@font-face {
  font-family: "ProbaPro";
  src: url(./fonts/ProbaPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaReg";
  src: url(./fonts/ProximaNova-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaBld";
  src: url(./fonts/ProximaNova-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url(./fonts/ProximaNova-Light.ttf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaThin";
  src: url(./fonts/ProximaNovaT-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaExtraBld";
  src: url(./fonts/ProximaNova-Extrabld.ttf) format("truetype");
}

body {
  font-family: "ProximaNovaReg";
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.bold {
  font-family: "ProximaNovaBld";
}

.extra-bold {
  font-family: "ProximaNovaExtraBld";
}

.light {
  font-family: "ProximaNovaLight";
}

.thin {
  font-family: "ProximaNovaThin";
}

.regular {
  font-family: "ProximaNovaReg";
}

.main-bg__block {
  height: 5000px;
  width: 100%;
  position: relative;
  z-index: 15;
}

.bold {
  font-family: "ProximaNovaBld";
}

.no-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.horizontal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#modal-win {
  height: 80%;
  width: 90%;
  position: fixed;
  background-color: #f0f0f0;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  margin: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  overflow: auto;
  z-index: 1000;
}

.close-modal {
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

.color-active {
  border: 2px solid #05b705;
}

.white-text {
  color: #d6d6d6;
  text-shadow: 0px 0px 10px rgba(117, 53, 168, 0.75);
}

.section__title {
  font-size: 32px;
  text-transform: uppercase;
}

.section__title-wrap {
  margin-bottom: 50px;
}

.section__title-bordered {
  display: block;
}

.section__title::after {
  content: '_____';
  font-family: "ProximaNovaExtraBld";
  display: block;
  color: #bb23af;
}

.section__title-descr {
  font-size: 16px;
  max-width: 30%;
}

header {
  height: 93px;
  position: relative;
  z-index: 20;
  display: block;
  font-family: "ProximaNovaReg";
  font-size: 14px;
}

.header-logo {
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a {
  width: 100%;
  text-align: center;
}

.header-logo__img {
  height: 73px;
  width: auto;
}

.header-col__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

.header-col__block__icon {
  height: 24px;
  display: block;
  width: auto;
  margin-right: 5px;
}

.header-col__block__cta {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "ProximaNovaBld";
  color: #00a651;
}

.content-area {
  position: relative;
  z-index: 15;
}

.top-menu {
  padding-top: 2px;
}

.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.top-menu__list__item__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#scene {
  width: 100%;
}

.first-screen {
  min-height: 700px;
  background: url("../img/head_bg.png") no-repeat;
  background-size: cover;
  width: 100%;
}

.first-screen__h1 {
  color: #ffff;
  font-size: 66px;
  font-family: "ProximaNovaExtraBld";
}

.first-screen__offer {
  color: #ffff;
  font-size: 24px;
  font-family: "ProximaNovaThin";
}

.first-screen__arrow {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.form__section-container {
  border-radius: 10px;
  border: 1px solid #bb23af;
  height: 350px;
  width: 90%;
  margin: auto;
  background-color: #fff;
}

.form__section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 350px;
}

.form__section-item__img {
  width: auto;
  height: 200px;
}

.form__section-item__step__title {
  color: #bb23af;
  font-size: 28px;
  text-align: center;
}

.form__section-item__price {
  color: #bb23af;
  font-size: 28px;
}

.form__section-item__colors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.form__section-item__colors__list__item {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.form__section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75%;
  width: 70%;
  margin: auto;
}

.form__section-form__label {
  color: #00a651;
  font-size: 14px;
}

.form__section-form__input {
  border-color: #bb23af;
  padding: 5px;
}

.modal-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-list__item__img {
  height: 200px;
  width: auto;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-list__item__img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #5d5656;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 0;
  -webkit-transition: .2s;
  transition: .2s;
  margin-bottom: 30px;
}

.cards-item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(117, 53, 168, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(117, 53, 168, 0.75);
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.cards-item__img {
  width: 92px;
}

.cards-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-item__text__title {
  font-family: "ProximaNovaBld";
  font-size: 20px;
}

.cards-item__text__descr {
  color: #5d5656;
  font-family: "ProximaNovaLight";
  font-size: 14px;
}

.cards-item__text__price {
  font-size: 18px;
  color: #bb23af;
}

.cards-item__text__button {
  text-decoration: none;
  font-family: "ProximaNovaBld";
  color: #00a651;
}

.economy {
  background: url("../img/middle_bg.png") no-repeat;
  min-height: 1010px;
  background-size: cover;
  padding-top: 50px;
}

.economy-title {
  text-align: center;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  margin: 50px 0;
}

.economy-percent__item {
  color: #fff;
}

.economy-percent__item__num {
  font-size: 66px;
}

.economy-percent__item__descr {
  font-size: 18px;
}

.economy-icon__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.economy-icon__block__img {
  width: 50%;
}

.economy-icon__block__img__wrap {
  width: 30%;
  text-align: center;
}

.economy-icon__block__text {
  color: #fff;
  width: 70%;
}

.reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.reverse .feedback-item__img__wrap {
  left: 85px;
}

.feedback-btn {
  background-image: -webkit-linear-gradient(9deg, #05a651 0%, #199a56 57%, #2d8e5b 100%);
  -webkit-box-shadow: 0px 0px 5.3px 4.7px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 5.3px 4.7px rgba(0, 0, 0, 0.11);
  width: 200px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #bb23af;
  height: 250px;
  width: 80%;
  margin: 30px auto;
}

.feedback-item__img__wrap {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: center no-repeat;
  position: relative;
  left: -85px;
}

.feedback-item__text {
  width: 60%;
}

.feedback-item__text__title {
  font-size: 26px;
}

.feedback-item__text__date {
  color: #999999;
  margin: 10px 0;
}

.feedback-item__text__stars {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 200px;
  padding-left: 0;
}

.feedback-item__text__stars__star__img {
  width: 20px;
  height: auto;
}

.footer {
  background: url("../img/footer_bg.png") center no-repeat;
  height: 1280px;
  background-size: cover;
  margin-top: 30px;
  padding-top: 50px;
}

.footer-faq__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-faq__list__item {
  border-radius: 50px;
  background-image: -webkit-linear-gradient(-45deg, #b52bbe 0%, #892ca6 57%, #5c2d8e 100%);
  color: #fff;
  padding: 10px 20px;
  margin: 2px 0;
  cursor: pointer;
  width: 80%;
}

.footer-faq__list__item__title {
  font-size: 20px;
}

.footer-faq__list__item__descr {
  font-size: 14px;
}

.up-arr::before {
  display: inline-block;
  content: ">";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 10px;
  -webkit-transition: .6s;
  transition: .6s;
}

.down-arr::before {
  display: inline-block;
  content: ">";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  -webkit-transition: .6s;
  transition: .6s;
}

.slide-fade-enter-active {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.01s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.01s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */