@font-face
    font-family: "ProbaPro"
    src: url(./fonts/ProbaPro-Regular.ttf) format("truetype")
@font-face
    font-family: "ProximaNovaReg"
    src: url(./fonts/ProximaNova-Regular.ttf) format("truetype")
@font-face
    font-family: "ProximaNovaBld"
    src: url(./fonts/ProximaNova-Bold.ttf) format("truetype")
@font-face
    font-family: "ProximaNovaLight"
    src: url(./fonts/ProximaNova-Light.ttf) format("truetype")
@font-face
    font-family: "ProximaNovaThin"
    src: url(./fonts/ProximaNovaT-Thin.ttf) format("truetype")
@font-face
    font-family: "ProximaNovaExtraBld"
    src: url(./fonts/ProximaNova-Extrabld.ttf) format("truetype")
body
    font-family: "ProximaNovaReg"
    margin: 0
    padding: 0
    font-size: 14px
.bold
    font-family: "ProximaNovaBld"
.extra-bold
    font-family: "ProximaNovaExtraBld"
.light
    font-family: "ProximaNovaLight"
.thin
    font-family: "ProximaNovaThin"
.regular
    font-family: "ProximaNovaReg"
.main-bg__block
    // background: url("../img/main-bg.png") no-repeat
    // background-size: cover
    height: 5000px
    width: 100%
    position: relative
    z-index: 15
.bold
    font-family: "ProximaNovaBld"
.no-select
    -ms-user-select: none
    -moz-user-select: none
    -khtml-user-select: none
    -webkit-user-select: none
.horizontal-flex
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
#modal-win
    height: 80%
    width: 90%
    position: fixed
    background-color: #f0f0f0
    border-radius: 10px
    left: 50%
    top: 50%
    margin: auto
    transform: translateX(-50%) translateY(-50%)
    overflow: auto
    z-index: 1000
.close-modal 
    display: block
    cursor: pointer
    width: 100%
    text-align: right
    padding-right: 20px
    padding-top: 10px
.color-active
    border: 2px solid #05b705
.white-text
    color: #d6d6d6
    text-shadow: 0px 0px 10px rgba(117, 53, 168, 0.75)
.section__title
    font-size: 32px
    text-transform: uppercase
    &-wrap
        margin-bottom: 50px
    &-bordered
        display: block
    &::after
        content: '_____'
        font-family: "ProximaNovaExtraBld"
        display: block
        color: #bb23af
    &-descr
        font-size: 16px
        max-width: 30%      
header
    height: 93px
    position: relative
    z-index: 20
    display: block
    font-family: "ProximaNovaReg"
    font-size: 14px
.header
    &-logo
        height: 93px
        display: flex
        align-items: center
        & a
            width: 100%
            text-align: center
    &-logo__img
        height: 73px
        width: auto
    &-col__block
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        min-height: 50px
        &__icon
            height: 24px
            display: block
            width: auto
            margin-right: 5px
        &__cta
            display: block
            position: relative
            text-align: center
            text-decoration: none
            text-transform: uppercase
            font-family: "ProximaNovaBld"
            color: #00a651
        &__icons
            &__link
                display: inline-block
                margin-right: 10px
.content-area
    position: relative
    z-index: 15
.top-menu
    padding-top: 2px
    &__list
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        list-style: none
        flex-wrap: wrap
        &__item
            margin: 4px
            &__link
                color: #ffffff
                text-transform: uppercase
                text-decoration: none
                font-size: 14px
                font-weight: bold
#scene
    width: 100%
.first-screen
    min-height: 700px
    background: url("../img/head_bg.png") no-repeat
    background-size: cover
    width: 100%
    &__patallax__container
            
        &_first__layer
            
        &_second__layer

        &_third__layer
    &__h1
        color: #ffff
        font-size: 66px
        font-family: "ProximaNovaExtraBld"
    &__offer
        color: #ffff
        font-size: 24px
        font-family: "ProximaNovaThin"
    &__arrow
        width: 100%
        text-align: center
        margin-top: 30px    
.form__section
    &-container
        border-radius: 10px
        border: 1px solid #bb23af
        height: 350px
        width: 90%
        margin: auto
        background-color: #fff
    &-item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        min-height: 350px
        &__img
            width: auto
            height: 200px
        &__step__title
            color: #bb23af
            font-size: 28px
            text-align: center
        &__price
            color: #bb23af
            font-size: 28px
        &__colors
            &__list
                display: flex
                list-style: none
                padding: 0
                &__item
                    width: 20px
                    height: 20px
                    margin-right: 5px
                    border-radius: 50%
                    cursor: pointer
    &-form
        display: flex
        flex-direction: column
        justify-content: space-around
        width: 70%
        margin: auto
        &__label
            color: #00a651
            font-size: 14px
        &__input
            border-color: #bb23af
            padding: 5px
.modal-list
    list-style: none
    display: flex
    flex-direction: row
    width: 100%
    height: auto
    flex-wrap: wrap
    &__item
        &__img
            height: 200px
            width: auto
            margin: 5px
            cursor: pointer
            transition: .2s
            &:hover
                transform: translateY(-5px)
.cards
    &-item
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        border: 1px solid #5d5656
        height: 200px
        border-radius: 10px
        background-color: #fff
        padding: 20px 0
        transition: .2s
        margin-bottom: 30px
        &:hover
            -webkit-box-shadow: 0px 0px 20px 0px rgba(117, 53, 168, 0.75)
            -moz-box-shadow:    0px 0px 20px 0px rgba(117, 53, 168, 0.75)
            box-shadow:         0px 0px 20px 0px rgba(117, 53, 168, 0.75)
            transform: scale(1.03, 1.03)
        &__img
            
        &__text
            display: flex
            flex-direction: column
            height: 100%
            width: 55%
            justify-content: space-between
            border-left: 1px solid grey
            padding-left: 20px 
            &__title
                font-family: "ProximaNovaBld"
                font-size: 20px
            &__descr
                color: #5d5656
                font-family: "ProximaNovaLight"
                font-size: 14px
            &__link
            &__price
                font-size: 18px
                color: #bb23af
            &__button
                text-decoration: none
                font-family: "ProximaNovaBld"
                color: #00a651
.economy
    background: url('../img/middle_bg.png') no-repeat
    min-height: 1010px
    background-size: cover
    // background-position: bottom
    padding-top: 50px
    &-title
        text-align: center
        font-size: 26px
        color: #fff
        text-transform: uppercase
        margin: 50px 0
    &-percent__item
        color: #fff
        &__num
            font-size: 66px
        &__descr
            font-size: 18px
    &-icon__block
        display: flex
        margin-bottom: 50px
        flex-direction: row
        align-items: center
        justify-content: space-around
        &__img
            width: 50%
            &__wrap
                width: 30%
                text-align: center

        &__text
            color:#fff
            width: 70%
            &__title

            &__descr
.reverse
    flex-direction: row-reverse !important
    & .feedback-item__img__wrap
        left: 85px
.feedback
    &-btn
        background-image: -moz-linear-gradient( 9deg, rgb(5,166,81) 0%, rgb(25,154,86) 57%, rgb(45,142,91) 100%)
        background-image: -webkit-linear-gradient( 9deg, rgb(5,166,81) 0%, rgb(25,154,86) 57%, rgb(45,142,91) 100%)
        box-shadow: 0px 0px 5.3px 4.7px rgba(0, 0, 0, 0.11)
        height: 40px
        padding: 10px 30px
        color: #fff
        border: none
        border-radius: 30px
        text-transform: uppercase
        text-align: center
        cursor: pointer
        margin-top: 30px
    &-item
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        border: solid 2px #bb23af
        height: 250px
        width: 80%
        margin: 30px auto
        &__img__wrap
            width: 300px
            height: 300px
            border-radius: 50%
            background: center no-repeat
            position: relative
            left: -85px
        &__text
            width: 60%
            &__title
                font-size: 26px
            &__date
                color: #999999
                margin: 10px 0
            &__descr
            &__stars
                list-style: none
                display: flex
                flex-direction: row
                justify-content: space-around
                max-width: 200px
                padding-left: 0
                &__star
                    &__img
                        width: 20px
                        height: auto
.footer
    background: url('../img/footer_bg.png') center no-repeat
    height: 1280px
    background-size: cover
    margin-top: 30px
    padding-top: 50px
    &-logo
        text-align: center
    &-faq
        &__list
            list-style: none
            display: flex
            flex-direction: column
            justify-content: center
            width: 100%
            align-items: center
            padding: 0 10px
            // position: absolute
            &__item
                border-radius: 50px
                background-image: -moz-linear-gradient( -45deg, rgb(181,43,190) 0%, rgb(137,44,166) 57%, rgb(92,45,142) 100%)
                background-image: -webkit-linear-gradient( -45deg, rgb(181,43,190) 0%, rgb(137,44,166) 57%, rgb(92,45,142) 100%)
                color: #fff
                padding: 10px 20px
                margin: 2px 0
                cursor: pointer
                width: 80%
                &__title
                    font-size: 20px
                &__descr
                    font-size: 14px
    &-main
        position: absolute
        bottom: 95px
        width: 100%
        height: 400px
        color: #fff
        font-size: 16px
        &__col__title
            font-size: 20px
            text-transform: uppercase
            display: block
            min-height: 70px
        &__menu__list
            list-style-image: url('../img/icons/list-image.png')
            display: flex
            flex-direction: column
            flex-wrap: wrap
            margin-top: 0
            &__item a
                color: #fff
                text-decoration: none
        &__contacts
            height: 100%
            &__item
                display: flex
                flex-direction: row
                margin-bottom: 20px
                &__img
                    width: 20px
                    height: 20px
                &__text
                    margin-left: 10px
        &__form
            display: flex
            flex-direction: column
            min-height: 220px
            justify-content: space-around

            & a
                color: #fff
            & input
                border-radius: 20px
                border: none
                padding: 5px 
            &__wrap
                width: 100%
                border: 1px #fff solid
                min-height: 350px
                border-radius: 10px
                padding: 10px
                display: flex
                flex-direction: column
                justify-content: space-around
            &__btn
                margin: 0
    &-copyright
        width: 100%
        border-top: solid 1px #fff
        position: absolute
        bottom: 25px
        text-align: center
        color: #fff
        padding-top: 10px
        &__link
            color: #fff
    &-social
        margin-top: 20px    
.up-arr
    &::before
        display: inline-block
        content: ">"
        transform: rotate(-90deg)
        margin-right: 10px
        transition: .6s
.down-arr
    &::before
        display: inline-block
        content: ">"
        transform: rotate(90deg)
        margin-right: 10px        
        transition: .6s
   
.slide-fade-enter-active 
    transition: all .2s ease

.slide-fade-leave-active 
    transition: all .01s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
    transform: translateY(-10px)
    opacity: 0

//adaptive
@media (max-width: 1200px)
    .header-col__block
        flex-direction: column
@media (max-width: 992px)
    .form__section-container
        height: auto
        width: 100%
        padding: 20px
    .form__section-form
        width: 100%
    header 
        height: auto
    .header-col__block__icons
        text-align: center
    .economy
        background: #650aaf
    .feedback-item
        width: 95%
    .footer-faq__list__item
        width: 100%
    .footer
       background: #dbdbdb 
       height: 1400px
    .footer-main
        bottom: 0
        height: 700px
        background: #9728a4
        padding-top: 40px
        padding-bottom: 40px      
    .footer-main__contacts  
        height: auto
    .mobile-hide
        display: none
    .footer-copyright
        bottom: 0
    .footer-main__col__title
        min-height: 50px
@media (max-width: 768px)
    .footer
        height: 1500px
    .footer-main
        height: 745px
    .economy-percent__item
        text-align: center
    .first-screen__parallax__container
        display: none
    .feedback-item
        height: auto
        padding: 10px
    .feedback-item__img__wrap
        width: 200px
        height: 200px
    .reverse .feedback-item__img__wrap, .feedback-item__img__wrap
        left: 0
    .feedback-item
        flex-direction: column !important
    .feedback-item__text
        width: 100%
@media (max-width: 576px)
    .first-screen__h1
        font-size: 40px
    .first-screen__arrow
        display: none
    .footer
        height: 1600px
    .section__title-descr
        max-width: 100%


    